<div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel" data-interval="false">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block  w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg"
                 alt="First slide" height="270">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg"
                 alt="Second slide" height="270">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg"
                 alt="Third slide" height="270">
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center ad-title-container w-100 px-3">
        <div class="ad-price">
            <span class="category-icon white-color"><i class="fas fa-rupee-sign"></i></span>
            <span class="category-text white-color ml-1">83,700</span>
        </div>
    </div>

</div>
<div class="d-flex thumbnail-slider-container w-100">
    <div class="d-flex h-100 align-items-center mr-3">
        <a class="" href="#carousel-slider" role="button" data-slide="prev">
            <span class="" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>

        </a>
    </div>
    <div id="carousel-slider" class="thumbnail-slider  flex-grow-1 carousel slide carousel-fade" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="d-flex justify-content-start  h-100 carousel-indicators w-100">
                    <div class="thumbnail-image" data-target="#carousel-thumb" data-slide-to="1">
                        <img class="fit w-100" src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(121).jpg" height="80">
                    </div>
                    <div class="thumbnail-image acitve" data-target="#carousel-thumb" data-slide-to="0">
                        <img class="fit w-100" src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(88).jpg" height="80">
                    </div>

                    <div class="thumbnail-image" data-target="#carousel-thumb" data-slide-to="2">
                        <img class="fit w-100" src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(31).jpg" height="80" width="110">
                    </div>
                    <div class="thumbnail-image" data-target="#carousel-thumb" data-slide-to="0">
                        <img class="fit w-100" src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(88).jpg" height="80">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex  justify-content-start  h-100 carousel-indicators">
                    <div class="thumbnail-image acitve" data-target="#carousel-thumb" data-slide-to="0">
                        <img class="fit w-100" src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(88).jpg" height="80">
                    </div>

                    <div class="thumbnail-image" data-target="#carousel-thumb" data-slide-to="1">
                        <img class="fit w-100" src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(121).jpg" height="80">
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="d-flex h-100 align-items-center">
        <a class="" href="#carousel-slider" role="button" data-slide="next">
            <span class="" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>

        </a>
    </div>
</div>