<div class="page-title">
        <div class="d-flex flex-column">
                <div>
                        <h4 class="mb-0">Category</h4>
                        <button class="btn float-right" routerLink='../add' data-toggle="modal" data-target="#addcategory">+Add Category</button>
                </div>
                <div>
                        <p class="d-inline text-secondary mb-0">Here you can manage the way you capture attendancen of your employess</p>
                </div>
        </div>
        
</div>
<div class="mt-3">
        <app-category-table></app-category-table>
</div>