<div class="page-title">
        <h4 class="mb-0">Admin</h4>
        <p class="text-secondary mb-0">Here you can manage the way you capture attendancen of your employess</p>
</div>
<div class="ad-list-header d-flex justify-content-between">
        <div class="item-title-head d-flex h-100  align-items-center mr-auto">
            <span class="list-header-text">ITEM</span>
        </div>
        <div class="posted d-flex h-100  align-items-center mr-auto">
             <span class="list-header-text">POSTED BY</span>
        </div>
        <div class="report d-flex h-100  align-items-center mr-auto">
             <span class="list-header-text">REPORTED BY</span>
        </div>
        <div class="action d-flex h-100  align-items-center mr-auto">
            <span class="list-header-text">ACTIONS</span>
        </div> 
</div>
