<div> 
        <a class="nav-link">
                <div class="d-flex align-items-center">
                        <span class="back-icon"><i class="fas fa-arrow-left"></i></span>
                        <span class="back-text">Back to List</span>  
                </div>
        </a>
</div>
<div class="d-flex flex-row">
        <div>
                <app-item-details></app-item-details>
        </div>
        <div>
                <app-publishing-details></app-publishing-details>
        </div>
</div>
<div>
        
</div>


