<div class = "container ml-0 mt-3">
        <h6 class = "container-heading">Item Details</h6>
    <form>
        <div class= "row">
            <div class= "col-sm-4">
                    <label class="input-title">Ad Type</label>
                    <div class="dropdown">
                        <button class="btn-dropdown btn dropdown-toggle" type="button" data-toggle="dropdown">Select
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Sale</a></li>
                            <li><a class="dropdown-item" href="#">Rent</a></li>
                            <li><a class="dropdown-item" href="#">Required</a></li>
                        </ul>
                    </div>  
            </div>
            <div class= "col-sm-4">
                    <label class="input-title">Category</label>
                    <div class="dropdown">
                        <button class="btn-dropdown btn dropdown-toggle" type="button" data-toggle="dropdown">Select
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ><a class="dropdown-item" href="#">Sale</a></li>
                            <li ><a class="dropdown-item" href="#">Rent</a></li>
                            <li ><a class="dropdown-item" href="#">Required</a></li>
                        </ul>
                    </div>    
            </div>
            <div class= "col-sm-4">
                <label class="input-title">Price</label>  
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">&#8377;</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Price" aria-describedby="basic-addon1">
                </div>  
            </div> 
                                        
        </div>
        
        <div class="form-group">
            <label for="usr">Ad Title</label>
            <input type="text" class="form-control" id="usr">
        </div>

        <div class="form-group">
            <label for="comment">Description</label>
            <textarea class="description form-control" rows="3" id="comment" placeholder="Provide item details"></textarea>
        </div>
      
        
    </form>
    
</div>
