<div class="page-title">
        <div class="d-flex flex-column">
                <div class="flex-item">
                        <h4 class=" d-inline mb-0">History</h4>
                        <button class="btn float-right" routerLink='../create'>Create Ad</button>
                </div>
                <div class="flex-item">    
                         <p class="text-secondary mb-0">Here you can manage the way you capture attendancen of your employess</p>  
                </div>
        </div>
        <div>
                <app-filter-bar></app-filter-bar>
        </div>
</div>
