<div class="container mt-3 ml-4">
<div class="content-padding">
    <div>
        <p class= "title">Publishing Details</p>
    </div>
    <div class="user">
        <img class="user-icon" src="..\..\assets\images\user-icon.png">
        <p class="username">Ram Rajesh Krishna</p>
    </div>
    <div class="user-info info">
        <div class= "row">
            <div class="location">
                <p class="info"><i class="fa fa-map-marker" aria-hidden="true" style="padding-right:15px"></i>Hydrabad local corp</p>
            </div>
            <div class="email">
                <p class="info" style="margin-right:12px;"><i class="fa fa-envelope" aria-hidden="true" style="padding-right:10px"></i>rajesh.ram@xyz.com</p>
            </div>
        </div>
        <div class= "row">
            <div class="number">
                    <p class="info"><i class="fa fa-phone" aria-hidden="true" style="padding-right:15px"></i>9656789034</p>  
            </div>
            <div class="email">
                <div class="custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                    <label class="custom-control-label" for="defaultUnchecked">Show Contact number</label>
                </div>
            </div>
        </div>
    </div>
            <div class="set-expire-time form-group">
                    <label for="expiry-time" style="color:#bbb;">Ad expires in</label>
                    <div class="expiry-time" style="display:flex" id="expiry-time">
                        <input type="text" class="expiry-field form-control" value="30">
                        <span class="input-label" >days</span>     
                    </div> 
            </div>
            <div class="form-button">
                    <button type="button" class="btn btn-primary" style="background-color:grey">Cancel</button> <button type="button" class="btn btn-primary" style="background-color:#76618b;">Post Ad</button>
            </div>
            
    
<!-- </div>
    <input type="checkbox" id="test1" >
            <label for="test1">Show contact number</label>
</div> -->
