<nav class="navbar fixed-top navbar-light p-0 " style="background-color:#76618b;">
  <div class="d-flex justify-content-between w-100"style="">
      <div class="d-flex">
        <a class="navbar-brand py-1" href="#">
          <div class="cc-logo">
            <img alt="CC" src="..\assets\icon\classifieds-icon.png" width="40" height="40">
          </div>
        </a>
        <div class="nav-title align-self-center">
            <a class="nav-link org-name white-color" href="#"> Corporate Classifieds </a>
        </div> 
      </div>
      <div class="d-flex"></div>
      <div class="d-flex align-items-center mr-3" id="top-nav">
      <div class="mr-3">
          <span class="white-color">Team-Chakra</span>
              
              </div>
      <div class="user-icon">
          <img src="..\assets\icon\user-icon.png" width="30" height="30">
      </div>
            </div>
          </div>
</nav>
