<div class="page-title">
  <h4 class="mb-0">For Sale/Rent</h4>
  <p class="text-secondary mb-0">Here you can manage the way you capture attendancenof your employess</p>
</div>
<app-filter-bar (activeemit)="getVal($event)" (onItemSelected)="onItemSelected($event)" (onSearchQuery)="onSearchQuery($event)"></app-filter-bar>
<div class="lead m-3" *ngIf="selectedType">Showing Results for {{selectedType}} => {{selectedValue}}</div>
<div class="lead m-3" *ngIf="searchQuery">Showing Search Results for {{searchQuery}}</div>
<app-grid-layout *ngIf="active===true"></app-grid-layout>
<app-list-layout *ngIf="active!==true"></app-list-layout>
