<a  class="nav-link" routerLink="ad/{{ad.id}}">
    <div class="card">
        <div class="ad-header d-flex justify-content-between px-3">
            <div class=" d-flex align-items-center ">
                    <div class="ad-user-icon">
                            <img class="rounded-circle" src="../assets/icon/{{ad.userIconUri}}" width="25" height="25">
                        </div>
                    <div class="ad-user-name ml-2">
                        <span class="profile-name label-color">{{ad.userName}}</span>
                    </div>
            </div>
            <div class="d-flex align-items-center posted-date">
                <span class="ad-date icon-text">{{ad.postedOn | date}}</span>
            </div>
        </div>
        <div class="d-flex flex-column">
        <img class="w-100 fit" src="../assets/images/{{ad.imageUrls[0].url}}" height="160px" alt="Card image cap">
        <div class="d-flex justify-content-between align-items-center ad-title-container px-3">
            <div class="ad-title">
                    <span class="category-icon"><i class="{{ad.categoryIconUri}}"></i></span>
                    <span class="category-text ml-1">{{ad.title}}</span> 
            </div>
            <div class="ad-price">
                    <span class="category-icon"><i class="fas fa-rupee-sign"></i></span>
                    <span class="category-text ml-1">{{ad.price}}</span>
            </div>
        </div>
    
         </div>
        <div class="ad-details d-flex flex-column justify-content-between p-3">
            <div class="ad-description">
          <span class="card-text label-color">{{ad.description}}</span>
        </div>
          <div class="d-flex">
              <div class="ad-offers">
                <span class="offer-icon icon"><i class="fas fa-hand-holding-usd"></i></span>
                <span class="offer-count icon-text ml-1">{{ad.offerCount}}</span>
              </div>
              <div class="ad-comments">
                    <span class="comment-icon icon"><i class="fas fa-comment-alt"></i></span>
                    <span class="comment-count icon-text ml-1">{{ad.commentCount}}</span>
              </div>
          </div>
        </div>
      </div>
    </a>  
      
    