<div class = "detailBox mt-4 bg-white">
    <div class= "titleBox ">
        <p class = "commentTitle mt-2 mb-2">Comments</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="media comment-box">
                <div class="media-left">
                    <a href="#" class = "user-detail">                        
                        <img class="user-icon" src="../assets/icon/user-icon.png">
                        <p class="username">John Doe</p>
                    </a>
                    <span class="time-stamp">2 min ago</span>
                </div>
                <div class="media-body">
                           
                 <p class="comment-data">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <svg  class = "reply-icon" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>								
                </div>
                           
            </div>
        </div>

	    <div class="row">
		    <div class="media comment-box">
                <div class="media-left">
                    <a href="#" class = "user-detail">
                        <img class=" user-icon" src="../assets/icon/user-icon.png">
                        <p class="username">John Doe</p>
                    </a>
                    <span class="time-stamp">2 min ago</span>
                </div>
                <div class = "media-body">
                    <p class="comment-data">Lorem Ipsum is simply dummy text of the printing and typesetting industry. my name is sssssss </p>
                    <svg class = "reply-icon" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>								
                </div>
            
                <div class="sub-comment media-body">
                
                
                    <div class="media" style="padding-right:0;">
                        <div class="media-left">
                            <a href="#" class = "user-detail">
                                <img class="user-icon" src="../assets/icon/user-icon.png">
                                <p class="username">John Doe</p>
                            </a>
                            <span class="time-stamp">2 min ago</span>
                        </div>
                        <div class="media-body">
                        
                            <p class="comment-data">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <svg class = "reply-icon" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>								
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="media comment-box">
               <div class="media-left">
                   <a href="#" class = "user-detail">                        
                       <img class="user-icon" src="../assets/icon/user-icon.png">
                       <p class="username">John Doe</p>
                   </a>
                   <span class="time-stamp">2 min ago</span>
               </div>
               <div class="media-body">
                   
                   <p class="comment-data">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                   <svg class = "reply-icon" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>								
               </div>
                   
           </div>
        </div>
        <div class = "comment-textBox">
            <textarea rown = "5" cols = "50" class="textArea" placeholder="Type your comments here and press ENTER to submit"></textarea>
        </div>
    </div>
</div> 